@tailwind base;
@tailwind components;
@tailwind utilities;

/* Paleta base inspirada na Aconcaia (pode ajustar livremente) */
:root{
  --aca-bg:#0C0C0E;
  --aca-card:#121316;
  --aca-text:#EDEDF2;
  --aca-muted:#9BA0A6;
  --aca-primary:#7C3AED;
  --aca-primary-2:#A78BFA;
}

html, body, #root {
  height: 100%;
  background: var(--aca-bg);
  color: var(--aca-text);
}
